<div class="body">
    <div class="main-part">


        <div class="header">
            <div class="header-center">
                <div class="header-card">
                    <p class="title">Employment application</p>
                    <p class="sub-title">Fill the from below accurately indicating your potentials and suitability to
                        job
                        applying for.</p>
                </div>
            </div>
        </div>
        <div class="second-section">
            <app-applicationform></app-applicationform>
        </div>
    </div>
</div>